<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/Site.js"></script>
</head>
<body>
    <div id="pageContainer">
        <header id="pageHeader" class="commonRect">
            <h3>Online shop</h3>
        </header>
        <div id="contentContainer" class="">
            <nav id="pageNav">
                @RenderSection("Tree", false)
            </nav>

            <section id="pageSection">
                @RenderBody()
            </section>

            <aside id="pageAside">
                @if (Request.IsAuthenticated)
                {
                    Html.RenderPartial("_LoggedIn");
                }
                else
                {
                    Html.RenderPartial("_Login", new EshopMVC.Models.Members.LoginViewModel(), ViewData);
                }
            </aside>
        </div>
        <footer id="pageFooter" class="commonRect">
            Miroslav Jandak 2016 <br/>
            <a href="https://github.com/mjandak/EshopBcMVC">Source code</a>
        </footer>
    </div>
</body>
</html>
