<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/Site.js"></script>
</head>
<body>
    <div id="pageContainer">
        <header id="pageHeader" class="commonRect">
            <h3>Online shop</h3>
            Port of the <a href="http://eshopbak.aspone.cz/app/">original ASP.NET 2.0 app</a> to ASP.NET MVC. Work in progress.
        </header>
        <div id="contentContainer" class="">
            <nav id="pageNav">
                @RenderSection("Tree", false)
            </nav>

            <section id="pageSection">
                @RenderBody()
            </section>

            <aside id="pageAside">
                @if (Request.IsAuthenticated)
                {
                    ViewBag.UserName = User.Identity.Name;
                    Html.RenderPartial("_LoggedIn");
                }
                else
                {
                    Html.RenderPartial("_Login", new EshopMVC.Models.Members.LoginViewModel());
                }
            </aside>
        </div>
        <footer id="pageFooter" class="commonRect">
            Miroslav Jandak 2016
        </footer>
    </div>
</body>
</html>
