@model IEnumerable<EshopMVC.Models.CategoryViewModel>

<ul id="categoriesTree">
    @foreach (var cat in Model)
    {
        <li>
            @if (cat.Children == null || cat.Children.Count() == 0)
            {
                <span>@Html.ActionLink(cat.Name, "Index", "Home", new { CatId = cat.Id, OrderBy = ViewBag.OrderBy }, null)</span>
            }
            else
            {
                <span>
                    @Html.ActionLink(cat.Name, "Index", "Home", new { CatId = cat.Id, OrderBy = ViewBag.OrderBy }, null)
                </span>
                <ul>
                    @Html.Partial("_Tree", cat.Children)
                </ul>
            }
        </li>
    }
</ul>
